<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.oswego.permaculturemonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Permaculture Lab"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyPreferencesActivity"/>
        <activity android:name=".MapsActivity"/>
        <activity android:name=".TempGraphActivity"/>
        <activity android:name=".TempMapActivity"/>
        <activity android:name=".HumGraphActivity"/>
        <activity android:name=".HumMapActivity"/>
        <activity android:name=".MoistMapActivity"/>
        <activity android:name=".MoistGraphActivity"/>
        <activity android:name=".PhGraphActivity"/>
        <activity android:name=".PhMapActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCBMM-ncdjQ2ooj_eJN0c2rbJMv2r9TWnI"/>
    </application>
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />




</manifest>